/* default.css by Randy Verschueren - randy@viesign.be */
/* Icons by http://typicons.com */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(typicons.min.css);

* {margin:0;padding:0; font-family: 'Ubuntu', sans-serif; font-weight:400;}
html {background:#fff;height:100%;}
body {width:800px; margin:0 auto; background:#fff; height:100%;}
h1 {font-family: 'Ubuntu', sans-serif; font-weight:700;margin-top:25px; font-size:200%; padding-bottom:20px;}
a {color:#111; text-decoration:none;}
a:hover {color:#888;}
p.item a {color:#111; text-decoration:none; display:block; width:100%; height:100%;}

p.item {line-height:2em; padding:5px 0 5px 15px;}
p.item:hover {background:#eee;}
p.item a:before {font-family: 'typicons';font-style: normal;font-weight: normal;speak: none;display: inline-block;text-decoration: inherit;width: 1em;height: 1em;font-size: 2em;text-align: center;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;text-rendering: optimizeLegibility; vertical-align: sub; content: '\e063'; border-left:5px solid;border-color:#111;}
p.item.folder {}
p.item.folder a:before {content: '\e07e';}
p.item.txt {}
p.item.txt a:before {content: '\e062'; border-color:#0099FF;}
p.item.php {}
p.item.php a:before {content: '\e063'; border-color:#339966;}

div.navbar-collapse {text-align:center;}
div.navbar-collapse ul li {display:inline-block; padding:0 10px; margin-top:35px;}

/* takes a very long time, depending on the amount of folders(sites)
.frame {
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
	display:none;
}
p.item:hover .frame {display:block;}
*/